<!-- Menu -->
<nav id="menu">
	<header class="major">
		<h2>Menu</h2>
	</header>
	<ul>
		<li><a href="~/Home/Index">Homepage</a></li>
		<li><a href="~/originalindex.html">Template homepage</a></li>
	</ul>
</nav>
