<!DOCTYPE HTML>
<!--
    Editorial by HTML5 UP
    html5up.net | ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
     @if (ViewData["Title"] == null)
     {
         <title>	Editorial by HTML5 UP </title>
     }
     else
     {
         <title> @ViewData["Title"] </title>
     }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <!-- Header -->
                <header id="header">
                    <a href="/originalindex.html" class="logo"><strong>Store Helper</strong> by a3v</a>
                </header>

                @RenderBody()
            </div>
        </div>

        @await Html.PartialAsync("SideBarPartial")

    </div>

    @await Html.PartialAsync("ScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
