<!-- Menu -->
<nav id="menu">
	<header class="major">
		<h2>Menu</h2>
	</header>
	<ul>
		<li><a href="~/Home/Index">Homepage</a></li>
		<li><a href="~/originalindex.html">Template homepage</a></li>
		<li>
			<span class="opener">Справочники</span>
			<ul>
				<li><a href="/Stores/Index">Склады</a></li>
				<li><a href="/Goods/Index">Вещи</a></li>
			</ul>
		</li>
		<li>
			<span class="opener">Документы</span>
			<ul>
				<li><a href="~/Purchases/Index">Приходование</a></li>
			</ul>
		</li>

	</ul>
</nav>
